/* 
    CSS - auteur Kum
    Mémento HTML & CSS
*/

/* Structure de page */
#haut
{
	background      :  url(./Images/fdbois.jpg) repeat-x;;
    height          : 47px;
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    text-align: center;
    border: 2px solid #000;
    border-radius: 25px 25px;
    

}

#bas
{
    background      : #f0f0f0;
    height          : 40px;
    border-top      : 2px solid #dedede;
    position        : fixed;
    bottom          : 0;
    right           : 0;
    left            : 0;
    text-align: center;
}

#titrefenetre
{
	font-size: 16pt;
	margin-top: 12px;
	font-weight: bold;
}

/*Eléments*/
p
{
    color: black;
}
